POSTGRES_DB=greglist
POSTGRES_USER=greglist_user
POSTGRES_PASSWORD=greglist_password
POSTGRES_PORT=5432
DATABASE_URL="postgresql://greglist_user:greglist_password@localhost:5432/greglist?schema=public"
